.weather-app {
  padding: 20px;
  border: thick double #e1dbda;
  border-radius: 30px;
}

.Weather .overview {
  margin-bottom: 20px;
}
.container {
  background: linear-gradient(rgb(83, 4, 230), rgb(32, 252, 222));
}
.weather-container {
  padding: 20px 16px 24px 16px;
  margin: 30px auto;
  max-width: 630px;
}
.weather-temperature img {
  height: 85px;
  width: 85px;
  display: inline-block;
}
.weather-temperature strong {
  color: rgb(247, 244, 244);
  font-size: 64px;
  line-height: 0.5;
  font-weight: 400;
  display: inline-block;
  vertical-align: text-top;
}
a {
  font-weight: bold;
  text-decoration: underline;
}
.units {
  font-size: 20px;
  padding-left: 6px;
  margin-top: 6px;
  color: rgb(247, 244, 244);
  text-decoration: none;
}
.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-forecast-temperature-max {
  color: black;
}
.btn-primary {
  background-color: rgb(224, 92, 236);
}
h1 {
  color: #e5e2e2;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}
a:link {
  text-decoration: none;
}
li {
  list-style: none;
}
.precip,
.wind {
  font-weight: 500;
  line-height: 20px;
  color: #e5e2e2;
  text-align: left;
}
.time,
.description {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #e5e2e2;
}
.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature.active:hover {
  text-decoration: none;
}
.today-forecast {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
.temp {
  font-size: 18px;
}

/*Week 8 Video 3 */

.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: rgb(253, 252, 252);
}

.weather-forecast-date {
  font-size: 20px;
  text-align: match-parent;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forcast-temperatures {
  font-size: 13px;
}
.weather-forcast.row {
  text-align: center;
}
